<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Faves!</h1>
    <% if(movies.length) {%>
        <% movies.forEach(m=>{ %>
            <h2>Title: <%=m.title %>   </h2>
            <h3>Year: <%=m.year  %> </h3>
            <img src="<%=m.poster  %>" alt="Poster for <%=m.title%> ">
            <hr>
        <% }) %> 
    <% } else {%>
        <h2>You have no faves</h2>
    <% } %> 
</body>
</html>