<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>Movie search</h1>
    <div> 
        <form method="GET" action="/search">
            <div>
            <label for="query">Search for movies</label>
            <input type="text" name ="query" id="query" placeholder ="movie">
            </div>
            <button type="submit">Look for it! </button>
        </form>
        
    </div>
    
</body>
</html>